[Desktop Entry]
Name=Sleep
Comment=Suspend the computer
Type=Application
Exec=xfce4-session-logout --suspend
Icon=system-suspend
Categories=X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
