[greeter]
background = /usr/share/lubuntu/wallpapers/background.jpg
icon-theme-name = {{icon_theme}}
font-name = Ubuntu 10
indicators = ~host;~spacer;~language;~clock;~power
user-background = false
default-user-image = /usr/share/lubuntu/images/avatar.png
