[SeatDefaults]
greeter-session=lightdm-gtk-greeter
user-session=gnome-fallback
allow-guest=false
greeter-hide-users={{lightdm_hide_users | lower}}
{% if lightdm_autologin_user %}
autologin-user={{lightdm_autologin_user}}
autologin-user-timeout={{lightdm_autologin_timeout}}
{% endif %}
