DEFAULT vesamenu.c32 
TIMEOUT 100
ONTIMEOUT BootLocal
PROMPT 0
NOESCAPE 1
ALLOWOPTIONS 1
PROMPT 0
menu width 80
menu rows 14
MENU TABMSGROW 24
MENU MARGIN 10
NOESCAPE 1
LABEL BootLocal
    localboot 0
    TEXT HELP
    Boot to local hard disk
    ENDTEXT
{% for m in ni_images %}
MENU BEGIN {{m.os}} {{m.type}} ({{m.arch}})
MENU TITLE {{m.os}} {{m.type}} ({{m.arch}})
    LABEL Previous
    MENU LABEL Previous Menu
    TEXT HELP
    Return to previous menu
    ENDTEXT
    MENU EXIT
    MENU SEPARATOR
    MENU INCLUDE menu/{{m.os}}-{{m.type}}-{{m.arch}}.menu
MENU END
{% endfor %}
LABEL Memtest
    MENU LABEL Memtest
    KERNEL memtest86
    TEXT HELP
    Test your memory with memtest
    ENDTEXT
enu color border               30;44      #ffffffff #00000000 std
