DEFAULT vesamenu.c32 
TIMEOUT 100
ONTIMEOUT BootLocal
PROMPT 0
MENU INCLUDE pxelinux.cfg/pxe.conf
NOESCAPE 1
LABEL BootLocal
    localboot 0
    TEXT HELP
    Boot to local hard disk
    ENDTEXT
MENU BEGIN Ubuntu Desktop
MENU TITLE Ubuntu Desktop
    LABEL Previous
    MENU LABEL Previous Menu
    TEXT HELP
    Return to previous menu
    ENDTEXT
    MENU EXIT
    MENU SEPARATOR
    MENU INCLUDE ubuntu/desktop.menu
MENU END
MENU BEGIN Ubuntu Server
MENU TITLE Ubuntu Server
    LABEL Previous
    MENU LABEL Previous Menu
    TEXT HELP
    Return to previous menu
    ENDTEXT
    MENU EXIT
    MENU SEPARATOR
    MENU INCLUDE ubuntu/server.menu
MENU END
MENU BEGIN Ubuntu Server Mini
MENU TITLE Ubuntu Server Mini
    LABEL Previous
    MENU LABEL Previous Menu
    TEXT HELP
    Return to previous menu
    ENDTEXT
    MENU EXIT
    MENU SEPARATOR
    MENU INCLUDE ubuntu/mini.menu
MENU END
LABEL Memtest
    MENU LABEL Memtest
    KERNEL memtest86
    TEXT HELP
    Test your memory with memtest
    ENDTEXT
