d-i debian-installer/locale string en_US
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string computer
d-i netcfg/get_domain string {{dns_domain}}
d-i clock-setup/utc boolean true
d-i time/zone string US/Pacific
d-i clock-setup/ntp boolean true
d-i partman-auto/method string regular

# use local mirror
d-i mirror/country string manual
d-i mirror/http/hostname  string {{apt_url}}
d-i mirror/http/directory string /mirrors/ubuntu/
d-i apt-setup/use_mirror boolean true
d-i apt-setup/mirror/error select Change mirror
d-i apt-setup/multiverse boolean true
d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true
d-i apt-setup/security_host string {{apt_url}}

# - atomic: all files in one partition
# - home:   separate /home partition
# - multi:  separate /home, /usr, /var, and /tmp partitions
# d-i partman-auto/choose_recipe select atomic
# choose our own to avoid huge swaps

{% include "partman-" + item.1.partman + ".j2" %}


# If one of the disks that are going to be automatically partitioned
# contains an old LVM configuration, the user will normally receive a
# warning. This can be preseeded away...
d-i partman-lvm/device_remove_lvm boolean true
# The same applies to pre-existing software RAID array:
d-i partman-md/device_remove_md boolean true
# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
d-i user-setup/allow-password-weak boolean true
d-i user-setup/allow-password-empty boolean true
d-i passwd/user-fullname string Administrator
d-i passwd/username string administrator
d-i passwd/user-password-crypted password $1$YGmPEYhr$WDaYWLKV.dixml0kcrUr91
d-i passwd/user-uid string 999
d-i user-setup/encrypt-home boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

# install ssh server so I can do the rest remotely. Doesn't work, doing it in init script
d-i pkgsel/include string openssh-server
d-i pkgsel/upgrade select none
d-i pkgsel/language-packs multiselect en
# d-i pkgsel/update-policy select unattended-upgrades
# ubuntu version from https://gist.github.com/moonwitch/11100762
# installed by ansible, otherwise ansible fails if unattended is alerady using apt-get
# unattended-upgrades unattended-upgrades/enable_auto_updates boolean true

#d-i finish-install/reboot_in_progress note
#ubiquity ubiquity/reboot boolean true

# This first command is run as early as possible, just after
# preseeding is read.
#d-i preseed/early_command string anna-install some-udeb
# This command is run immediately before the partitioner starts. It may be
# useful to apply dynamic partitioner preseeding that depends on the state
# of the disks (which may not be visible when preseed/early_command runs).
#d-i partman/early_command \
#       string debconf-set partman-auto/disk "$(list-devices disk | head -n1)"
# This command is run just before the install finishes, but when there is
# still a usable /target directory. You can chroot to /target and use it
# directly, or use the apt-install and in-target commands to easily install
# packages and run commands in the target system.
#d-i preseed/late_command string apt-install zsh; in-target chsh -s /bin/zsh
d-i preseed/late_command string wget -O /target/var/tmp/postinst {{ni_preseed}}/postinst.sh; in-target sh /var/tmp/postinst {{item.1.tasksel|default('none')}};
