#!/bin/bash

/usr/bin/qemu-system-x86_64 -enable-kvm \
  -name {{item.name}} \
  -nodefaults \
  -vga std \
  -machine type=ubuntu,accel=kvm,usb=off \
  -cpu host \
  -smp {{item.smp}} \
  -m {{item.mem}} \
  -netdev bridge,br={{qemu_bridge}},id=qemubr \
{% for i in item.ifaces %}
  -device virtio-net-pci,mac={{i.mac}},netdev=qemubr,id={{i.id}} \
{% endfor %}
  -device virtio-scsi-pci,id=scsi \
{% for d in item.disks %}
  -drive file={{d.file}},format={{d.format}},id={{d.id}},if=none,index={{d.index}} \
  -device scsi-hd,drive={{d.id}} \
{% endfor %}
  -boot cn \
  -monitor unix:{{item.name}}.sock,server,nowait \
  -pidfile {{item.name}}.pid \
  -curses
