# Basic config from http://wiki.squid-cache.org/Squid-3.5
# ACLS and allowed ports

acl localnet src 10.11.0.0/16     # RFC1918 possible internal network

acl SSL_ports port 443
acl SSL_ports port 4443
# Customized https port. Added per girl school student's request for https://financialaidapps.wlu.edu:4443/OLFASlateVerif.asp?ID=12345678. Rui, 2018-02-09.
acl SSL_ports port 8443

acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl Safe_ports port 1025-65535  # unregistered ports

acl CONNECT method CONNECT

http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

http_access allow localnet
http_access allow localhost
http_access deny all

coredump_dir /squid/var/cache/squid

refresh_pattern (Release|Packages(.gz)*)$      0       20%     2880
# Add any of your own refresh_pattern entries above these.

refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320

http_port 3128
coredump_dir /var/spool/squid

# CTTB settings

# Cache settings (by default use memory only, see cache_dir:
# http://www.squid-cache.org/Versions/v3/3.5/cfgman/cache_dir.html
cache_mem {{cache_mem}}
maximum_object_size_in_memory {{maximum_object_size_in_memory}}
memory_cache_mode {{memory_cache_mode}}

shutdown_lifetime 3 seconds
forwarded_for delete

## Logging
# IMPORTANT: cache_log cannot be redirected to syslog without modifying the
# init script but it does old critical information on the status of squid
# process, including errors. The access_log is only good for caches hits etc,
# but not for process errors.
#               >a      Client source IP address
#               <a      Server IP address of the last server or peer connection
#               tl      Local time. Optional strftime format argument
#               tr      Response time (milliseconds)
#               dt      Total time spent making DNS lookups (milliseconds)
#               [http::]>rm     Request method from client
#               [http::]>ru     Request URL from client
#               [http::]>h      Original received request header.
#               [http::]>Hs     HTTP status code sent to the client
#               [http::]mt      MIME content type
#               [http::]st      Total size of request + reply traffic with client
#               Ss      Squid request status (TCP_MISS etc)
#               Sh      Squid hierarchy status (DEFAULT_PARENT etc)
#               un      A user name. Expands to the first available name

logformat cttb      %>a %{X-Forwarded-For}>h %rm %ru %mt %6tr %6dt %Ss/%03>Hs %<st %[un %Sh/%<a
access_log syslog:user.info cttb
