[greeter]
background = {{desktop_wallpaper_dir}}/{{desktop_login_background}}
theme-name = {{desktop_theme}}
icon-theme-name = {{icon_theme}}
xcursor-theme-name = {{cursor_theme}}
font-name = Inter Display 10
indicators = ~host;~spacer;~clock;~power
user-background = false
default-user-image = /usr/share/lubuntu/images/avatar.png
