<?xml version="1.0" encoding="UTF-8"?>
<channel name="xfce4-panel" version="1.0">
  <property name="configver" type="int" value="2"/>
  <property name="panels" type="array">
    <value type="int" value="1"/>
    <property name="dark-mode" type="bool" value="true"/>
    <!-- Top menu bar (autohide, semi-transparent) -->
    <property name="panel-1" type="empty">
      <property name="position" type="string" value="p=6;x=0;y=0"/>
      <property name="length" type="double" value="100"/>
      <property name="length-adjust" type="bool" value="true"/>
      <property name="position-locked" type="bool" value="true"/>
      <property name="icon-size" type="uint" value="0"/>
      <property name="size" type="uint" value="24"/>
      <property name="nrows" type="uint" value="1"/>
      <property name="autohide-behavior" type="uint" value="1"/>
      <property name="enter-opacity" type="uint" value="100"/>
      <property name="leave-opacity" type="uint" value="100"/>
      <property name="background-style" type="uint" value="1"/>
      <property name="background-rgba" type="array">
        <value type="double" value="0.153333"/>
        <value type="double" value="0.108356"/>
        <value type="double" value="0.108356"/>
        <value type="double" value="0.535461"/>
      </property>
      <property name="plugin-ids" type="array">
        <value type="int" value="34"/>
        <value type="int" value="1"/>
        <value type="int" value="25"/>
        <value type="int" value="5"/>
        <value type="int" value="6"/>
        <value type="int" value="31"/>
        <value type="int" value="10"/>
        <value type="int" value="33"/>
        <value type="int" value="13"/>
        <value type="int" value="12"/>
        <value type="int" value="9"/>
      </property>
    </property>
  </property>
  <property name="plugins" type="empty">
    <!-- Top bar: start separator -->
    <property name="plugin-34" type="string" value="separator">
      <property name="style" type="uint" value="0"/>
    </property>
    <!-- Top bar: lotus icon + app menu -->
    <property name="plugin-1" type="string" value="applicationsmenu">
      <property name="button-title" type="string" value="{{inventory_hostname_short}}"/>
      <property name="show-button-title" type="bool" value="true"/>
      <property name="button-icon" type="string" value="/usr/share/icons/cttb/lotus.svg"/>
      <property name="show-tooltips" type="bool" value="false"/>
      <property name="show-generic-names" type="bool" value="true"/>
      <property name="small" type="bool" value="true"/>
    </property>
    <!-- Top bar: global application menu -->
    <property name="plugin-25" type="string" value="appmenu">
      <property name="bold-application-name" type="bool" value="true"/>
      <property name="compact-mode" type="bool" value="false"/>
      <property name="expand" type="bool" value="true"/>
    </property>
    <!-- Top bar: expanding separator -->
    <property name="plugin-5" type="string" value="separator">
      <property name="expand" type="bool" value="true"/>
      <property name="style" type="uint" value="0"/>
    </property>
    <!-- Top bar: system tray (wifi, fcitx, nm-applet) -->
    <property name="plugin-6" type="string" value="systray">
      <property name="square-icons" type="bool" value="true"/>
      <property name="known-items" type="array">
        <value type="string" value="Fcitx"/>
        <value type="string" value="nm-applet"/>
      </property>
      <property name="known-legacy-items" type="array">
        <value type="string" value="networkmanager applet"/>
        <value type="string" value="network"/>
      </property>
    </property>
    <!-- Top bar: volume (pulseaudio) -->
    <property name="plugin-31" type="string" value="pulseaudio">
      <property name="enable-keyboard-shortcuts" type="bool" value="true"/>
      <property name="enable-mpris" type="bool" value="true"/>
      <property name="mixer-command" type="string" value="pavucontrol"/>
      <property name="show-notifications" type="bool" value="true"/>
    </property>
    <!-- Top bar: separator -->
    <property name="plugin-10" type="string" value="separator">
      <property name="style" type="uint" value="0"/>
    </property>
    <!-- Top bar: notification plugin -->
    <property name="plugin-33" type="string" value="notification-plugin"/>
    <!-- Top bar: separator -->
    <property name="plugin-13" type="string" value="separator">
      <property name="style" type="uint" value="0"/>
    </property>
    <!-- Top bar: clock -->
    <property name="plugin-12" type="string" value="clock">
      <property name="digital-format" type="string" value="%a %d %b  %H:%M"/>
      <property name="digital-layout" type="uint" value="3"/>
      <property name="digital-time-font" type="string" value="Inter Display Semi-Bold 10"/>
      <property name="digital-time-format" type="string" value="%a %d %b  %H:%M"/>
      <property name="mode" type="uint" value="2"/>
    </property>
    <!-- Top bar: end separator -->
    <property name="plugin-9" type="string" value="separator">
      <property name="style" type="uint" value="0"/>
    </property>
  </property>
</channel>
