<?xml version="1.0" encoding="UTF-8"?>
<channel name="xsettings" version="1.0">
  <property name="Net" type="empty">
    <property name="ThemeName" type="string" value="{{gtk_theme}}"/>
    <property name="IconThemeName" type="string" value="{{icon_theme}}"/>
    <property name="EnableEventSounds" type="bool" value="true"/>
    <property name="EnableInputFeedbackSounds" type="bool" value="true"/>
    <property name="SoundThemeName" type="string" value="{{desktop_sound_theme | default('freedesktop')}}"/>
  </property>
  <property name="Gtk" type="empty">
    <property name="CursorThemeName" type="string" value="{{cursor_theme}}"/>
    <property name="CursorThemeSize" type="int" value="24"/>
    <property name="FontName" type="string" value="{{desktop_font}}"/>
  </property>
</channel>
