PRETTY_NAME="{{ sudhanix_description }}"
NAME="{{ sudhanix_name }}"
VERSION_ID="{{ sudhanix_release }}"
VERSION="{{ sudhanix_release }} ({{ sudhanix_codename | capitalize }})"
VERSION_CODENAME={{ sudhanix_codename }}
ID={{ sudhanix_id }}
ID_LIKE=ubuntu
HOME_URL="http://wiki.cttb/"
SUPPORT_URL="http://wiki.cttb/"
BUG_REPORT_URL="http://wiki.cttb/wiki/Special:Contributions/Jchandara"
UBUNTU_CODENAME={{ sudhanix_ubuntu_codename }}
