# FireHOL configuration file
#
# See firehol.conf(5) manual page and FireHOL Manual for details.
#
# This configuration file will allow all requests originating from the
# local machine to be send through all network interfaces.
#
# No requests are allowed to come from the network. The host will be
# completely stealthed! It will not respond to anything, and it will
# not be pingable, although it will be able to originate anything
# (even pings to other hosts).
#
#

#############################################################
#### IF NOT SPECIFIED, DEFAULT POLICY IS TO LOG AND DROP ####
#############################################################

version 6

## Some global settings

# Disable ipv6
ENABLE_IPV6=0
# uses ULOGD2 for logging and frees up syslog
FIREHOL_LOG_MODE="NFLOG"

# CTTB Variables
home="lan"
world="com7 com20"

# ipsets definition

## ipsets to whiltelist hosts to bypass the CF
ipset4 create no_proxy_ip hash:ip
ipset4 create no_proxy_net hash:net
ipset4 addfile no_proxy_ip ip ipsets/no_proxy
ipset4 addfile no_proxy_net net ipsets/no_proxy

## ipsets for internet time restrictions
{% for group in timed_internet %}
ipset4 create {{group.label}} hash:{{group.type}}
{% endfor %}

# NAT and redirects

## this still needs port forwarding on the modem to work

# redirect ssh into the city through jumpbox
dnat4 to 10.11.29.154:22 proto tcp dport 2244 inface "${world}"
# get sip traffic to the asterisk server. SRC is our vitelity inbound peer
# specified in asterisk's configs
dnat4 to 10.11.6.1:5060 proto "tcp udp" dport 5060 inface "${world}" src 66.241.99.22

transparent_proxy4 80 8080 "" inface "${home}" src not "ipset:no_proxy_ip ipset:no_proxy_net"
masquerade "${world}"

# rules for traffic coming from the lan into the gateway
interface4 "${home}" cttb
  policy REJECT # nicer on clients that won't have to wait to timeout
  server dhcp accept
  server icmp accept
  server ssh accept
  server dns accept

  # for timed internet
  server httpalt reject src "{% for group in timed_internet %}ipset:{{group.label}} {% endfor %}"
  # because of transparent proxy'ing
  server httpalt accept 

  client icmp accept
  client dns accept
  client dhcp accept
  client http accept

# rules for traffic coming from the world for the gateway
interface4 "${world}" internet
    client all accept

# rules for traffic coming from the internet for the lan
router4 internet2cttb inface "${world}" outface "${home}"
  protection bad-packets
  server ssh accept dst 10.11.29.154 #accept traffic to jumpbox
  server sip accept dst 10.11.6.1 #traffic for asterisk server

  # for timed internet
  client "https httpalt" reject src "{% for group in timed_internet %}ipset:{{group.label}} {% endfor %}"

  client all reject src 10.11.13.0/24 # temp registration range should not go online
  client all accept
