[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Koha
Exec=/usr/bin/google-chrome --new-window http://library.igdvs.cttb
Icon=/usr/share/icons/koha.gif
GenericName[en_US]=Library Search
Comment[en_US]=Library Search
Name[en_US]=Kiosk Library Search
