[Desktop Entry]
Name=Shut Down
Comment=Power off the computer
Type=Application
Exec=systemctl poweroff
Icon=system-shutdown
Categories=X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
