panels=panel1

[panel1]
plugins=mainmenu, quicklaunch, taskbar, mount, volume, tray, worldclock
position=Bottom
desktop=0

[mainmenu]
type=mainmenu
filterClear=true
icon=/usr/share/icons/windos10-icons/scalable/places/start-here-symbolic.svg
ownIcon=true

[desktopswitch]
type=desktopswitch

[quicklaunch]
type=quicklaunch
apps\1\desktop=/usr/share/applications/pcmanfm-qt.desktop
apps\2\desktop=/usr/share/applications/firefox.desktop
apps\3\desktop=/usr/share/applications/google-chrome.desktop
apps\4\desktop=/usr/share/applications/Zoom.desktop
apps\5\desktop=/usr/share/applications/lxterminal.desktop
apps\size=5
alignment=Left

[taskbar]
type=taskbar
buttonWidth=200

[tray]
type=tray

[mount]
type=mount

[worldclock]
type=worldclock
alignment=Right
autoRotate=true
customFormat="'<b>'HH:mm:ss'</b><br/><font size=\"-2\">'ddd, d MMM yyyy'<br/>'TT'</font>'"
dateFormatType=custom
dateLongNames=false
datePadDay=false
datePosition=after
dateShowDoW=false
dateShowYear=false
formatType=custom-timeonly
showDate=true
timeAMPM=true
timePadHour=false
timeShowSeconds=false

[volume]
device=0
type=volume
audioEngine=PulseAudio

[showdesktop]
alignment=Right
type=showdesktop

[statusnotifier]
alignment=Right
type=statusnotifier
