panels=panel1

[General]
iconTheme=windos10-icons

[panel1]
alignment=-1
animation-duration=0
desktop=0
hidable=false
iconSize=28
lineCount=1
lockPanel=false
opacity=100
panelSize=32
plugins=mainmenu, quicklaunch, taskbar, mount, volume, tray, worldclock
position=Bottom
reserve-space=true
show-delay=0
visible-margin=true
width=100
width-percent=true

[mainmenu]
type=mainmenu
filterClear=true
menu_file=/etc/xdg/menus/lxqt-applications.menu
icon=/usr/share/icons/{{start_icon}}
ownIcon=true

[desktopswitch]
type=desktopswitch

[quicklaunch]
type=quicklaunch
apps\1\desktop=/usr/share/applications/pcmanfm-qt.desktop
apps\2\desktop=/usr/share/applications/firefox.desktop
apps\3\desktop=/usr/share/applications/google-chrome.desktop
apps\4\desktop=/usr/share/applications/Zoom.desktop
apps\5\desktop=/usr/share/applications/lxterminal.desktop
apps\size=5
alignment=Left

[taskbar]
type=taskbar
buttonWidth=200

[tray]
type=tray

[mount]
type=mount

[worldclock]
type=worldclock
alignment=Right
autoRotate=true
customFormat="'<b>'HH:mm:ss'</b><br/><font size=\"-2\">'ddd, d MMM yyyy'<br/>'TT'</font>'"
dateFormatType=custom
dateLongNames=false
datePadDay=false
datePosition=after
dateShowDoW=false
dateShowYear=false
formatType=custom-timeonly
showDate=true
timeAMPM=true
timePadHour=false
timeShowSeconds=false

[volume]
device=0
type=volume
audioEngine=PulseAudio

[showdesktop]
alignment=Right
type=showdesktop

[statusnotifier]
alignment=Right
type=statusnotifier
