DEFAULT menu.c32
TIMEOUT {{ni_pxe_timeout|default(100)}}
ONTIMEOUT {{ni_pxe_default|default('BootLocal')}}
PROMPT 0
NOESCAPE 1
ALLOWOPTIONS 1
PROMPT 0
menu width 80
menu rows 14
MENU TABMSGROW 24
MENU MARGIN 10
NOESCAPE 1
LABEL BootLocal
    localboot 0
    TEXT HELP
    Boot to local hard disk
    ENDTEXT
{% set slim = '-slim' if ni_serve_slim_iso | default(false) else '' %}
{% for m in ni_2404_images %}
{% set path = m.os + "/" + m.type + "-" + m.name + "-" + m.arch %}
{% for ai in m.autoinstall %}
LABEL Autoinstall-{{m.name}}-{{ai.name}}
    MENU LABEL {{ai.description}}
    KERNEL {{ni_www}}/{{path}}/{{m.kernel_path}}
    INITRD {{ni_www}}/{{path}}/{{m.initrd_path}}
    APPEND noprompt ip=dhcp ipv6.disable=1 url={{ni_www}}/{{path}}{{slim}}.iso autoinstall ds=nocloud-net;s={{ni_www}}/autoinstall/{{m.os}}/{{ai.name}}/ ---
    TEXT HELP
    {{ai.description}} via autoinstall (Ubuntu 24.04 LTS)
    ENDTEXT
{% endfor %}
{% endfor %}
MENU SEPARATOR
{% for m in ni_images|default([]) %}
MENU BEGIN {{m.os}} {{m.type}} ({{m.arch}}) [legacy]
MENU TITLE {{m.os}} {{m.type}} ({{m.arch}}) [legacy]
    LABEL Previous
    MENU LABEL Previous Menu
    TEXT HELP
    Return to previous menu
    ENDTEXT
    MENU EXIT
    MENU SEPARATOR
    MENU INCLUDE menu/{{m.os}}-{{m.type}}-{{m.arch}}.menu
MENU END
{% endfor %}
LABEL Memtest
    MENU LABEL Memtest
    KERNEL {{ni_www}}/memdisk
    INITRD {{ni_www}}/memtest.iso
    APPEND iso raw
    TEXT HELP
    Test your memory with memtest
    ENDTEXT
