[mediawiki]
user = www-data
group = www-data

listen = /run/php/mediawiki.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

; Container is small, keep pool modest
pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 4
pm.max_requests = 500

; PHP settings for MediaWiki
php_admin_value[memory_limit] = 256M
php_admin_value[upload_max_filesize] = 20M
php_admin_value[post_max_size] = 21M
php_admin_value[max_execution_time] = 60
php_admin_value[error_log] = /var/log/php-mediawiki-error.log
