[Unit]
Description=Copyparty file server (storehouse.cttb)
After=network.target

[Service]
Type=simple
User={{ storehouse_user }}
Group={{ storehouse_group }}
ExecStart=/usr/local/bin/copyparty \
  -i 0.0.0.0 -p {{ storehouse_port }} \
  --http-only \
  -a {{ storehouse_admin_user }}:{{ storehouse_admin_password }} \
  -v {{ storehouse_root }}::r:rw,{{ storehouse_admin_user }}
Restart=on-failure
RestartSec=5
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
