# Network UPS Tools: example ups.conf

# Set maxretry to 3 by default, this should mitigate race with slow devices:
maxretry = {{ ups_maxretry|default(3) }}

{% for ups in nut_ups %}
[{{ ups.name }}]
    driver = {{ ups.driver }}
    port   = {{ ups.device }}
    desc   = "{{ ups.description }}"
{% endfor %}
