[Desktop Entry]
Name={{ inventory_hostname }} — Ubuntu {{ ansible_distribution_version }}
Type=Application
Exec=true
Icon=computer
NoDisplay=false
Categories=X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
