groupname = {{item.name}}
groupmode = 1 #filtered

# Content filtering files location
{% for l in filtering_groups_lists %}
{{l}} = '/etc/e2guardian/f{{item.num}}/defaults/{{l}}'
{% endfor %}

# Lists defaults that we do not want to override
# Apparently the fX groups do not inherit this so it still needs to be defined
# there too :(
{% for l in default_lists %}
{{l}} = '/etc/e2guardian/lists/{{l}}'
{% endfor %}

# Downloads management
#blockdownloads = off

# POST protection (web upload and forms)
# use 0 for a complete block
# use higher (e.g. 512 = 512Kbytes) for limiting
# use -1 for no blocking
maxuploadsize = -1

naughtynesslimit = {{item.naughtynesslimit}} # weighted phrases threshold

categorydisplaythreshold = 0 #display categories on block page

# Embedded URL weighting
# When set to something greater than zero, this option causes URLs embedded within a
# page's HTML (from links, image tags, etc.) to be extracted and checked against the
# bannedsitelist and bannedurllist. Each link to a banned page causes the amount set
# here to be added to the page's weighting.
# The behaviour of this option with regards to multiple occurrences of a site/URL is
# affected by the weightedphrasemode setting.
#
# NB: Currently, this feature uses regular expressions that require the PCRE library.
# As such, it is only available if you compiled e2guardian with '--enable-pcre=yes'.
# You can check compile-time options by running 'e2guardian -v'.
#
# Set to 0 to disable.
# Defaults to 0.
# WARNING: This option is highly CPU intensive!
embeddedurlweight = 0

bypass = {{item.bypass}}
disablecontentscan = {{item.disablecontentscan}}
deepurlanalysis = {{item.deepurlanalysis}}
reportinglevel = {{item.reportinglevel}}

# /usr/share/e2guardian/languages/ukenglish/custom.html
htmltemplate = '{% if item.bypass > 0 %}custom-bypass.html{% else %}custom.html{% endif %}'

# SSL settings

# SSL certificate checking
# Check that ssl certificates for servers on https connections are valid
# and signed by a ca in the configured path
sslcertcheck = on

# SSL man in the middle
# Forge ssl certificates for all non-exception sites, decrypt the data then re encrypt it
# using a different private key. Used to filter ssl sites
sslmitm = {{item.sslmitm|default('off')}}

# Limit SSL MITM to sites in greysslsitelist(s)
# ignored if  sslmitm is off
# SSL sites not matching greysslsitelist will be treat as if sslmitm is off.
onlymitmsslgrey = off

# Enable MITM site certificate checking
# ignored if  sslmitm is off
# default (recommended) is 'on'
mitmcheckcert = on

# Do not check ssl certificates for sites listed
# Can be used to allow sites with self-signed or invalid certificates
# or to reduced CPU load by not checking certs on heavily used sites (e.g. Google, Bing)
# Use with caution!
# Ignored if mitmcheckcert is 'off'
#nocheckcertsitelist = '/etc/e2guardian/lists/nocheckcertsitelist'

